# this is a comment

/swank
/elpa/
init_locais.el
session.*
autosaves/*
backups/*
auto-save-list/*
!autosaves/empty
!backups/empty
!auto-save-list/empty
f_funcoes.el
hacks.el
*~
.#*
#*
*#
*.elc
/tramp
